<div class="navigation-container container-block">
  <h2 class="container-block-title">Pages</h2>
  <ul class="list-unstyled nav-list">
    <li><a href="{{ site.baseurl }}/"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="{{ site.baseurl }}/publications"><i class="fas fa-book"></i> Publications</a></li>
    <li><a href="{{ site.baseurl }}/portfolio"><i class="fas fa-flask"></i> Portfolio</a></li>
    <li><a href="{{ site.baseurl }}/share"><i class="fas fa-share-alt"></i> Share</a></li>
  </ul>
</div>
