/* Pygments Syntax Highlighting - Monokai-like theme */

.highlight { background: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #f8f8f2; background-color: transparent } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #75715e } /* Comment.Hashbang */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .cpf { color: #75715e } /* Comment.PreprocFile */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

/* Code block wrapper */
.highlight pre {
    margin: 0;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 6px;
}

/* Prevent .markdown-body pre from overriding highlight background */
.markdown-body .highlight pre {
    background: transparent;
}

/* Light theme variant */
[data-theme="light"] .highlight { background: #f5f5f5; }
[data-theme="light"] .highlight .c { color: #707070 } /* Comment */
[data-theme="light"] .highlight .err { color: #333; background-color: transparent } /* Error */
[data-theme="light"] .highlight .k { color: #000; font-weight: bold } /* Keyword */
[data-theme="light"] .highlight .l { color: #099 } /* Literal */
[data-theme="light"] .highlight .n { color: #333 } /* Name */
[data-theme="light"] .highlight .o { color: #000; font-weight: bold } /* Operator */
[data-theme="light"] .highlight .p { color: #333 } /* Punctuation */
[data-theme="light"] .highlight .ch { color: #707070 } /* Comment.Hashbang */
[data-theme="light"] .highlight .cm { color: #707070; font-style: italic } /* Comment.Multiline */
[data-theme="light"] .highlight .cp { color: #707070; font-weight: bold } /* Comment.Preproc */
[data-theme="light"] .highlight .cpf { color: #707070 } /* Comment.PreprocFile */
[data-theme="light"] .highlight .c1 { color: #707070; font-style: italic } /* Comment.Single */
[data-theme="light"] .highlight .cs { color: #707070; font-weight: bold; font-style: italic } /* Comment.Special */
[data-theme="light"] .highlight .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
[data-theme="light"] .highlight .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
[data-theme="light"] .highlight .gu { color: #707070 } /* Generic.Subheading */
[data-theme="light"] .highlight .kc { color: #000; font-weight: bold } /* Keyword.Constant */
[data-theme="light"] .highlight .kd { color: #000; font-weight: bold } /* Keyword.Declaration */
[data-theme="light"] .highlight .kn { color: #000; font-weight: bold } /* Keyword.Namespace */
[data-theme="light"] .highlight .kp { color: #000; font-weight: bold } /* Keyword.Pseudo */
[data-theme="light"] .highlight .kr { color: #000; font-weight: bold } /* Keyword.Reserved */
[data-theme="light"] .highlight .kt { color: #458; font-weight: bold } /* Keyword.Type */
[data-theme="light"] .highlight .ld { color: #d14 } /* Literal.Date */
[data-theme="light"] .highlight .m { color: #099 } /* Literal.Number */
[data-theme="light"] .highlight .s { color: #d14 } /* Literal.String */
[data-theme="light"] .highlight .na { color: #008080 } /* Name.Attribute */
[data-theme="light"] .highlight .nb { color: #0086B3 } /* Name.Builtin */
[data-theme="light"] .highlight .nc { color: #458; font-weight: bold } /* Name.Class */
[data-theme="light"] .highlight .no { color: #008080 } /* Name.Constant */
[data-theme="light"] .highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
[data-theme="light"] .highlight .ni { color: #800080 } /* Name.Entity */
[data-theme="light"] .highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
[data-theme="light"] .highlight .nf { color: #900; font-weight: bold } /* Name.Function */
[data-theme="light"] .highlight .nl { color: #333 } /* Name.Label */
[data-theme="light"] .highlight .nn { color: #555 } /* Name.Namespace */
[data-theme="light"] .highlight .nx { color: #333 } /* Name.Other */
[data-theme="light"] .highlight .py { color: #333 } /* Name.Property */
[data-theme="light"] .highlight .nt { color: #000080 } /* Name.Tag */
[data-theme="light"] .highlight .nv { color: #008080 } /* Name.Variable */
[data-theme="light"] .highlight .ow { color: #000; font-weight: bold } /* Operator.Word */
[data-theme="light"] .highlight .w { color: #bbb } /* Text.Whitespace */
[data-theme="light"] .highlight .mb { color: #099 } /* Literal.Number.Bin */
[data-theme="light"] .highlight .mf { color: #099 } /* Literal.Number.Float */
[data-theme="light"] .highlight .mh { color: #099 } /* Literal.Number.Hex */
[data-theme="light"] .highlight .mi { color: #099 } /* Literal.Number.Integer */
[data-theme="light"] .highlight .mo { color: #099 } /* Literal.Number.Oct */
[data-theme="light"] .highlight .sa { color: #d14 } /* Literal.String.Affix */
[data-theme="light"] .highlight .sb { color: #d14 } /* Literal.String.Backtick */
[data-theme="light"] .highlight .sc { color: #d14 } /* Literal.String.Char */
[data-theme="light"] .highlight .dl { color: #d14 } /* Literal.String.Delimiter */
[data-theme="light"] .highlight .sd { color: #d14 } /* Literal.String.Doc */
[data-theme="light"] .highlight .s2 { color: #d14 } /* Literal.String.Double */
[data-theme="light"] .highlight .se { color: #d14 } /* Literal.String.Escape */
[data-theme="light"] .highlight .sh { color: #d14 } /* Literal.String.Heredoc */
[data-theme="light"] .highlight .si { color: #d14 } /* Literal.String.Interpol */
[data-theme="light"] .highlight .sx { color: #d14 } /* Literal.String.Other */
[data-theme="light"] .highlight .sr { color: #009926 } /* Literal.String.Regex */
[data-theme="light"] .highlight .s1 { color: #d14 } /* Literal.String.Single */
[data-theme="light"] .highlight .ss { color: #990073 } /* Literal.String.Symbol */
[data-theme="light"] .highlight .bp { color: #999 } /* Name.Builtin.Pseudo */
[data-theme="light"] .highlight .fm { color: #900; font-weight: bold } /* Name.Function.Magic */
[data-theme="light"] .highlight .vc { color: #008080 } /* Name.Variable.Class */
[data-theme="light"] .highlight .vg { color: #008080 } /* Name.Variable.Global */
[data-theme="light"] .highlight .vi { color: #008080 } /* Name.Variable.Instance */
[data-theme="light"] .highlight .vm { color: #008080 } /* Name.Variable.Magic */
[data-theme="light"] .highlight .il { color: #099 } /* Literal.Number.Integer.Long */
